<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hackasoton2021recipe">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PinPoint"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackasoton2021Recipe.NoActionBar"
        tools:ignore="Instantiatable">
        <activity android:name=".frontend.ui.entry.PopupActivity"
            android:theme="@style/Theme.Hackasoton2021Recipe.PopMe"
        ></activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Hackasoton2021Recipe.NoActionBar"></activity>
        <activity android:name=".frontend.LoginPage"
            android:theme="@style/Theme.Hackasoton2021Recipe.NoActionBar"
            tools:ignore="DuplicateActivity">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>